# Auto detect text files and perform LF normalization
* text=auto

# Lua files
*.lua text eol=lf

# JavaScript files
*.js text eol=lf

# CSS files
*.css text eol=lf

# HTML files
*.html text eol=lf

# Markdown files
*.md text eol=lf
*.qmd text eol=lf

# YAML files
*.yml text eol=lf
*.yaml text eol=lf